.interior-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 25rem;
    width: 100%;
    background-color:var(--interior-bg-color);

}   
.interior-container-main {
    display:flex;
    height: calc(100vh - 5rem);
    position: relative;
}
.center {
    align-items: center;
    justify-content: center;
}
.lower-right {
    align-items: flex-end;
    justify-content: flex-end;
}
.floating-box {
    width: 10rem;
    height: 10rem;
    border: 1px solid red;
    z-index: 1;
}